:root {
    --theme-color: #3931c5;
    --main-color: #3931c5;
    --secondary-color: #e6e5ff;
    --trinary-color: #f0f0f0;
    --history-temp-color: rgb(105 95 175)
}

.monitor-chart {
    width: 100%;
    height: 270px;
}

body, html {
    overflow-x: hidden;
}

header {
    background-color: var(--main-color);
    color: white;
    padding: 8px;
    vertical-align: middle;
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 1.6em;
    user-select: none;
}

.no-drag {
    -webkit-user-drag: none;
    user-drag: none;
    /* This prevents the image from being selected as well */
    user-select: none;
}

header img {
    draggable: false;
    margin-right: 10px;
    height: 30px;

}

h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.2em;
}

h2, h3 {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
}
h3{
    background-color: var(--trinary-color);
}


.col-md-6 {
    margin: 20px 0;
}

.col-md-12 {
    margin: 20px 0;
}

button {
    margin: 5px 10px !important;
}

container button {
    margin: 5px 10px !important;
    display: inline-block;
}

input {
    min-width: 100px;
}

.cornerButton {
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 1.2em;
    opacity: 0.6;
}

.chart-grid {
    display: grid;
    user-select: none;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    width: 100%;
}

code {
    color: initial;
    font-size: 1em;
}

.row {
    margin-bottom: 30px;
}

table [data-bs-toggle="collapse"] tr td {
    cursor: pointer;
    /*border: 2px solid var(--secondary-color);*/
    background-color: var(--trinary-color) !important;
}

.collapse tr td:first-child {
    margin-left: 20px;
}

.dropdown-toggle {
    margin: 0 5px 5px 0 !important;
}

.chart-label1 {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    font-size: 1.2em;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    text-shadow: 0px 0px 4px white;
}

.chart-label2 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;

}

.chart-target {
    padding-top: 30px;
}

@media (max-width: 1200px) {
    html {
        font-size: 85%; /* Reduce or increase as needed */
    }

    .chart-grid {
        grid-template-columns: repeat(auto-fit, minmax(60vw, 1fr));
    }

    h2,h3 {
        padding: 8px;
        border-radius: 0;
    }

    header {
        margin: 0 0 10px 0;
    }

    header, h2 {
        font-size: 1.6em;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 85%; /* Reduce or increase as needed */
    }

    .chart-target {
        padding-top: 40px;
    }

    .chart-label2 {
        top: 10px;
        left: 0px;
    }

    .chart-label1 {
        left: 0px;
        top: 30px;
    }

    .monitor-chart {
        height: 200px;
    }
}
